<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>

    <!-- Bootstrap 5 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Inter Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- Estilos customizados -->
    <link rel="stylesheet" href="/assets/css/index.css" />
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/0c23645969.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <aside class="sidebar-container">
      <%- include('components/sideBar.ejs') %>
    </aside>

    <main
      class="content main-chatbox p-4 d-flex flex-column justify-content-between"
    >
      <!-- Exibindo a resposta -->
      <div class="conversation-box">
        <% chat.history.forEach(message => { %>
        <!-- Pergunta do usuário -->
        <div class="chat-box-user-wrap d-flex flex-column align-items-end">
          <span class="chat-label mb-1">Você</span>
          <div class="chat-bubble user-message">
            <p class="mb-0"><%= message.question %></p>
          </div>
        </div>

        <!-- Resposta da IA -->
        <div class="chat-box-ia-wrap d-flex flex-column align-items-start">
          <span class="chat-label mb-1">IA</span>
          <div class="chat-bubble bot-response">
            <p class="mb-0"><%= message.answer %></p>
          </div>
        </div>
        <% }); %>
      </div>

      <!-- Formulário de Pergunta do Usuário (Fixado no rodapé) -->
      <form
        action="/ask"
        method="POST"
        class="d-flex justify-content-center align-items-center p-3 mt-2"
        id="chatForm"
        return="sendQuestion()"
      >
        <div class="user-query d-flex flex-row justify-content-between w-100">
          <input type="hidden" name="chat_id" value="<%= chat.id %>" />
          <input
            type="text"
            class="form-control"
            placeholder="Exemplo: 'Como faço para me matricular em uma disciplina?'"
            id="userQuery"
            name="userQuery"
          />
          <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </form>
    </main>
  </body>

  <script>
    // Envio da pergunta e exibição da resposta sem recarregar a página
    document
      .getElementById("chatForm")
      .addEventListener("submit", function (event) {
        event.preventDefault(); // Impede o envio padrão do formulário
        const userQuery = document.getElementById("userQuery").value;
        const chat_id = document.querySelector('[name="chat_id"]').value; // Pega o chat_id

        if (userQuery.trim()) {
          fetch("/ask", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ userQuery, chat_id }), // Envia a pergunta e o chat_id
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.sucesso) {
                // Cria a estrutura de resposta para exibir no chat
                const chatBox = document.querySelector(".conversation-box");

                // Pergunta do usuário
                const userMessage = document.createElement("div");
                userMessage.classList.add(
                  "chat-box-user-wrap",
                  "d-flex",
                  "flex-column",
                  "align-items-end"
                );
                userMessage.innerHTML = `
            <span class="chat-label mb-1">Você</span>
            <div class="chat-bubble user-message">
              <p class="mb-0">${data.question}</p>
            </div>
          `;

                // Resposta da IA
                const iaMessage = document.createElement("div");
                iaMessage.classList.add(
                  "chat-box-ia-wrap",
                  "d-flex",
                  "flex-column",
                  "align-items-start"
                );
                iaMessage.innerHTML = `
            <span class="chat-label mb-1">IA</span>
            <div class="chat-bubble bot-response">
              <p class="mb-0">${data.answer}</p>
            </div>
          `;

                // Adiciona as novas mensagens no chat
                chatBox.appendChild(userMessage);
                chatBox.appendChild(iaMessage);

                // Atualiza o tamanho do body
                document.body.style.height = "100vh";

                // Atualiza o input de pergunta
                document.getElementById("userQuery").value = "";
              } else {
                console.error("Erro ao enviar a pergunta:", data.mensagem);
              }
            })
            .catch((error) => console.error("Erro:", error));
        }
      });
  </script>
</html>
